{{ define "main" }}
<div class="content-about">
    <div class="prelv">
        <div class="container">
            <div class="row row-marg about-row1">
                <div class="col-12 page-title">
                    <h1>{{ .Title }}</h1>
                </div>
                <div class="col-12 col-lg-7 col-md-10 title-div">
                    <h2>Turning design into positive change</h2>
                </div>
                <div class="abthero-img">
                    <svg xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" viewBox="0 0 449.5 166.33" class="clouds-svg"><path class="cls-1" d="M91.11 75.13a86.8 86.8 0 0 0-86.8 86.78H177.9A86.8 86.8 0 0 0 91.11 75.13Z" /><path class="cls-1" d="M324.11 49.64a86.8 86.8 0 0 0-86.8 86.78H410.9A86.8 86.8 0 0 0 324.11 49.64Z" /><path class="cls-2" d="M323.82 24.15c-72.61 0-120.17 45.35-120.17 137.77H444C444 67.41 399.21 24.15 323.82 24.15Z" /><path class="cls-3" d="M188.77 131.91q0.52-4.54 1.2-8.91h-4.34Q187.39 127.36 188.77 131.91Z" /><path class="cls-4" d="M185.63 123H190c8-51.59 32.41-86 68.46-103.49a117.87 117.87 0 0 0-155 39A104.92 104.92 0 0 1 185.63 123Z"/></svg>
                </div>
                <div class="col-12 text-div">
                    <div class="col-12 col-md-5">
                        <p>Komunity Design is a creative consulting agency that approaches design in a social, inclusive and participatory manner. We bring a renewed focus to people, relationships, beliefs and practices to the community to uncover new ways to make design a force for positive change.</p>
                    </div>
                </div>                
            </div>
        </div>
    </div>
    <div class="prelv">
        <div class="container">
            <div class="row row-marg about-row2">
                <div class="col-10 col-md-4 planet-img">
                    <svg xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" viewBox="0 0 423.5 321" class="planet-svg"><circle class="cls-1" cx="235.09" cy="160.58" r="155.26" /><circle class="cls-2" cx="365.16" cy="65.08" r="56.42" /><circle class="cls-3" cx="32.4" cy="36.5" r="27"/></svg>
                </div>
                <div class="col-12 col-md-5 offset-md-2">
                    <p>Design runs deeper than the aesthetics and includes systems, institutions and services. It is inherently social, collaborative and inclusive and no longer an activity limited to designers in the confines of a studio.</p>
                    <p>We believe that design includes the material as well as the non-material.</p>
                    <p>Similar to first impressions: the suit, the smile, and how one talks - design is the first impression of a company. This encompasses not just the logo, the brand, the service and the people behind it. Our role is to communicate the company's message to the right audience successfully.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="prelv">
        <div class="container">
            <div class="row row-marg about-row3">
                <div class="col-12 col-md-5 abt-text-div">
                    <p>Prior to setting up Komunity Design we asked ourselves how we could aid the little blue planet in our own way. During the pandemic we got to work and set up bases in Malaysia and Singapore in order to reach and connect with those that could assist and those that needed support. After working with companies through branding, packaging and website development we realized that if everyone were to play a part, the strength of the community would amplify the positive change.</p>
                    <p>From community work to environmental projects we would look at all the possible avenues that would benefit society.</p>
                </div>
                <div class="col-12 col-md-5 offset-md-1 pull-quote">
                    <h2>Design runs deeper than the aesthetics</h2>
                </div>
                
            </div>
        </div>
    </div>
    <div class="prelv">
        <div class="img-aboutwhitewav">
            <svg xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" viewBox="0 0 368.67 72.33" class="wave-white-svg"><path class="cls-1" d="M363.53 25.67C336 38.38 320.67 14.51 296.93 6.78c-32.08-10.44-52.14 13.33-80.77 21.78-33.62 9.92-48-22.75-79.1-22.82-34.57-0.08-28 8-70.65 20.86C37.92 35.22 30.52 23.3 5.64 12.71-26.59-1-43.87 11.29-73.24 23.55c-35 14.6-51-17-82.21-17.89-33.2-0.95-46.16 18.32-75.25 24.85" /><path class="cls-1" d="M363.53 61.37C336 74.08 320.67 50.21 296.93 42.48 264.85 32 244.79 55.81 216.16 64.26c-33.62 9.92-48-22.75-79.1-22.82-34.57-0.08-28 8-70.65 20.86C37.92 70.93 30.52 59 5.64 48.42-26.59 34.71-43.87 47-73.24 59.25c-35 14.6-51-17-82.21-17.89-33.2-0.95-46.16 18.32-75.25 24.85" /></svg>
        </div>
        <div class="container">
            <div class="row row-marg about-row4">
                <div class="col-12 col-md-12 title-div">
                    <h2>The Team</h2>
                </div>
                <div class="col-12 col-md-6 team-mem-div">
                    <div class="col-12 col-md-12 nopad team-img">
                        <img src="/images/aaron.jpg" alt="Aaron" class="img-fluid">
                    </div>
                    <div class="col-12 col-md-12 nopad team-text">
                        <h3>Aaron Yeo</h3>
                        <p>Aaron has a Bachelor of Arts in Communication from the University at Buffalo The State University of New York. Aaron’s background is in promotion, marketing and project management  where he has worked with several NGOs, and lead several nation wide events in Singapore.</p>
                    </div>
                </div>
                <div class="col-12 col-md-5 offset-md-1 team-mem-div">
                    <div class="col-12 col-md-12 nopad team-img">
                        <img src="/images/nilo.jpg" alt="Nilo" class="img-fluid">
                    </div>
                    <div class="col-12 col-md-12 nopad team-text">
                        <h3>Niloufer Othman</h3>
                        <p>A.K.A. Nilo has always been drawn towards creative design. After completing her business degree she threw herself into learning anything and everything about design. Design not being confined to just one aspect allowed her curiosity to lead from branding to creating websites.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="prelv">
        {{ partial "contact2.html" . }}
    </div>
</div>
{{ end }}