{{ define "main" }}
<div class="content-collab">
    <div class="prelv">
        <div class="container">
            <div class="row row-marg collab-row1">
                <div class="col-12 page-title">
                    <h1>{{ .Title }}</h1>
                </div>
                <div class="col-12 col-lg-7 col-md-10 title-div">
                    <h2>Design for social impact</h2>
                </div>
                <div class="collabhero-img">
                    <svg xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" viewBox="0 0 491.29 266" class="full-rainbow-svg"><path class="cls-1" d="M481.61 251.53h0c0-130.71-106-236.67-236.67-236.67S8.28 120.81 8.28 251.52h0" /><path class="cls-2" d="M53.6 251.53h0c0-105.68 85.67-191.34 191.34-191.34s191.34 85.67 191.34 191.34h0" /><path class="cls-2" d="M436.29 251.53h0c0-105.68-85.67-191.34-191.34-191.34S53.6 145.84 53.6 251.52h0" /><path class="cls-3" d="M110.39 251.53h0a134.56 134.56 0 0 1 269.11 0h0" /></svg>
                </div>
                <div class="col-12 text-div">
                    <div class="col-12 col-md-5">
                        <p>Starting out as a partnership, we feel it is an important core belief to bring this to all our relationships.</p>
                        <p>Like all great inventions, products and movements, it did not start by any one single person. The Memphis Design movement; the invention of the internet; and even more controversial inventions such as the lightbulb, the car, and the radio; were all products of a group of like minded people.</p>
                        <p>By working  together with people and institutions around, a positive feedback loop is created which in turn generates a positive social change.</p>
                    </div>
                </div>                
            </div>
        </div>
    </div>
    <div class="prelv">
        <div class="container">
            <div class="row row-marg collab-row2">
                <div class="col-10 col-md-4 pyramid-img">
                    <svg xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" viewBox="0 0 266.62 148.75" class="triangle-pyramid-svg"><polygon class="cls-1" points="101.36 6.14 260.77 145.39 101.36 144.08 101.36 6.14" /><polygon class="cls-2" points="4.5 144.39 69.56 71.65 68.95 144.39 4.5 144.39" /></svg>
                </div>
                <div class="col-12 col-md-5 offset-md-2">
                    <p>We believe that corporate engagement encourages trust and boosts a corporate brand within the community. We look into the requirements and details before taking on collaborative work. From there we craft various methods and avenues where an active collaboration can take place with a community impact plan that provides a positive return on investment.</p>
                    <p>Through collaboration we aim to create symbiotic partnerships that positively impact the partners, the community and the environment.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="prelv">
        <div class="img-aboutwhitewav">
            <svg xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" viewBox="0 0 368.67 72.33" class="wave-white-svg"><path class="cls-1" d="M363.53 25.67C336 38.38 320.67 14.51 296.93 6.78c-32.08-10.44-52.14 13.33-80.77 21.78-33.62 9.92-48-22.75-79.1-22.82-34.57-0.08-28 8-70.65 20.86C37.92 35.22 30.52 23.3 5.64 12.71-26.59-1-43.87 11.29-73.24 23.55c-35 14.6-51-17-82.21-17.89-33.2-0.95-46.16 18.32-75.25 24.85" /><path class="cls-1" d="M363.53 61.37C336 74.08 320.67 50.21 296.93 42.48 264.85 32 244.79 55.81 216.16 64.26c-33.62 9.92-48-22.75-79.1-22.82-34.57-0.08-28 8-70.65 20.86C37.92 70.93 30.52 59 5.64 48.42-26.59 34.71-43.87 47-73.24 59.25c-35 14.6-51-17-82.21-17.89-33.2-0.95-46.16 18.32-75.25 24.85" /></svg>
        </div>
    </div>
    <div class="prelv">
        {{ partial "contact3.html" . }}
    </div>
</div>
{{ end }}